.poppins-font {
    color: var(--heading, #343A40);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

.poppins-font-aside {
    color: var(--heading, rgb(214, 216, 217));
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

.nav-link.active {
    background-color: #17A2B8 !important;
    color: #ffffff !important;
}

.nav-link.active .nav-icon {
    color: #ffffff !important;
}

body.sidebar-collapse .poppins-font-aside {
    display: none;
}


/* Estilos para el contenedor */

.content-wrapper {
    padding-top: 20px;
    background-color: #f0f0f0;
}

.containertable {

    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group-text.bg-white {
    background-color: white !important;
}

.form-control.border-0.pl-0 {
    border: none;
    padding-left: 0;
}

.btn-editar {
    background-color: #4CAF50;
    color: whitesmoke;
}

.btn-eliminar {
    background-color: #E57373;
    color: whitesmoke;
}

.btn-editar:hover {
    background-color: #3E8E41;
    color: whitesmoke;
}

.btn-eliminar:hover {
    background-color: #D43F3F;
    color: whitesmoke;
}

.btn-editar,
.btn-eliminar {
    transition: background-color 0.3s ease;
}